@charset "utf-8";
.mflash {
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	background: #7b4719;
	padding-bottom: 20px;
}
.swiper-container {
	width: 100%;
	border: none;
}
.swiper-slide {
	text-align: center;
	height: auto;
}
.swiper-slide img {
	width: 100%;
}
.pagination, .pagination2 {
	position: absolute;
	z-index: 99;
	width: 100%;
	right: 0;
	text-align: center;
	bottom: 1px;
}
.pagination {
	right: 0;
}
.swiper-pagination-switch {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #d4b68e;
	margin: 0 5px;
	cursor: pointer;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}
.swiper-active-switch {
	background: #fff;
}
.pagination3, .pagination4, .pagination5 {
	display: none;
}
.arrow-l {
	display: inline-block;
	width: 65px;
	height: 65px;
	position: absolute;
	left: -50px;
	top: 50%;
	z-index: 11;
	background: #fff url(../images/pre.png) no-repeat center center;
	cursor: pointer;
	border-radius: 100%;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.2);
	margin-top: -30px;
}
.arrow-r {
	display: inline-block;
	width: 65px;
	height: 65px;
	position: absolute;
	right: -50px;
	top: 50%;
	z-index: 11;
	background: #fff url(../images/net.png) no-repeat center center;
	cursor: pointer;
	border-radius: 100%;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.2);
	margin-top: -30px;
}
.swiper-container2 {
	width: 96.7%;
	height: 220px;
	overflow: hidden;
	margin: 0 auto;
}
.pagination2 {
	width: 1200px;
	margin-left: -600px;
	text-align: right;
	bottom: auto;
	top: -60px;
}
.pagination2 .swiper-pagination-switch {
	width: 125px;
	height: 40px;
	background: #b8965b;
	margin: 0 30px 0 0;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
	text-indent: 0;
}
.pagination2 .swiper-active-switch {
	background: #404e67;
}
.arrow-la {
	display: inline-block;
	width: 30px;
	height: 60px;
	position: absolute;
	left: 70px;
	top: 50%;
	z-index: 11;
	background: url(../images/pre1.png) no-repeat center center;
	cursor: pointer;
	margin-top: -30px;
}
.arrow-ra {
	display: inline-block;
	width: 30px;
	height: 60px;
	position: absolute;
	right: 70px;
	top: 50%;
	z-index: 11;
	background: url(../images/net1.png) no-repeat center center;
	cursor: pointer;
	margin-top: -30px;
}
.swiper-container3 {
	width: 80%;
	height: 230px;
	background: #fff;
	margin: 0 auto;
	box-shadow: 0 0 4px 2px rgba(0,0,0,.2);
	overflow: hidden;
}
.swiper-container3 dl {
	padding: 30px 0;
	width: 90%;
	margin: 0 auto;
	text-align: left;
}
.swiper-container3 dl dt {
	width: 260px;
	height: 170px;
	float: left;
	margin-right: 30px;
}
.swiper-container3 dl dd {
	font-size: 16px;
	color: #000;
	padding-right: 60px;
}
.swiper-container3 dl dd h2 {
	padding: 20px 0 10px;
	font-size: 18px;
	font-weight: 300;
}
.swiper-container3 dl dd a {
	display: inline-block;
	padding: 3px 10px;
	font-size: 16px;
	color: #fff;
	background: #404e67;
	border-radius: 5px;
	margin: -8px 0 0 10px;
}
.arrow-lb, .arrow-lc {
	display: inline-block;
	width: 16px;
	height: 33px;
	position: absolute;
	left: 50px;
	top: 50%;
	z-index: 11;
	background: url(../images/pre2.png) no-repeat center center;/
	cursor: pointer;
	margin-top: -15px;
}
.arrow-rb, .arrow-rc {
	display: inline-block;
	width: 16px;
	height: 33px;
	position: absolute;
	right: 50px;
	top: 50%;
	z-index: 11;
	background: url(../images/net2.png) no-repeat center center;
	cursor: pointer;
	margin-top: -15px;
}
.swiper-container4 {
	width: 270px;
	height: 400px;
	background: #fff;
	margin: 0 auto;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
	overflow: hidden;
	border-radius: 10px;
}
.swiper-container4 dl {
	width: 100%;
}
.swiper-container4 dl dt {
	width: 100%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #393a3e;
	font-size: 14px;
	color: #fff;
}
.swiper-container4 dl dd {
	font-size: 14px;
	color: #555;
	background: url(../images/bg03.jpg) no-repeat center 20px;
}
.swiper-container4 dl dd h2 {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	padding-top: 100px;
}
.swiper-container4 dl dd p {
	padding: 10px 0 0;
	font-size: 14px;
	color: #555;
}
.swiper-container5 {
	width: 85%;
	height: 150px;
	background: #fff;
	margin: 0 auto;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
	overflow: hidden;
}
.arrow-lc {
	left: 0;
}
.arrow-rc {
	right: 0;
}
 @media (min-width:1281px) {
}
@media (max-width:1280px) {
}
@media (max-width:950px) {
}
@media (max-width:780px) {
.mflash {
	padding-bottom: 0;
}
.pagination {
	text-align: left;
}
.swiper-pagination-switch {
	background: #7b4719;
	margin: 0 3px;
}
.swiper-active-switch {
	background: #fff;
}
}
@media (max-width:650px) {
}
@media (max-width:450px) {
.arrow-lb {
	left: 10px;
}
.arrow-rb {
	right: 10px;
}
.swiper-container4 {
	width: 230px;
	height: 330px;
}
.swiper-container4 dl {
	width: 100%;
}
.swiper-container4 dl dt {
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}
.swiper-container4 dl dd {
	font-size: 12px;
	background: url(../images/bg03.jpg) no-repeat center 10px;
	background-size: 80% auto;
}
.swiper-container4 dl dd h2 {
	width: 180px;
	height: 180px;
	margin: 0 auto;
	padding-top: 60px;
}
.swiper-container4 dl dd p {
	padding: 10px 0 0;
	font-size: 14px;
	color: #555;
}
}
